@(students: java.util.List[Student])

@admin_main("Ladok 2.0 - Administration - Studier") {

    <form action="" method="POST" role="form">
        <legend>Registrera student på program</legend>

        <div class="form-group">

                <label>Välj student</label>
                <select name="" id="input" class="form-control">
                @for(student <- students){

                    <option value="@student.id">@student.toString</option>

                }
                </select>
        </div>


        <button type="submit" class="btn btn-primary">Registrera</button>
    </form>






}





