@(message: String)(student: Student) <!-- Ta in ett argument med "Student" här. Så kan vi använda all info berörande en viss student i alla views. Bara att skicka in objektet i viewsen nedan.  -->

@main("Ladok 2.0") {

    <!-- Saknar container runt denna row. Får kolla på det -->
    <!-- Alla delar är uppdelade i egna views. -->
    <!-- Bootstrap och annat importeras i main.scala.html -->
    <!-- Importera det som behövs där. -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
<br>
            <div class="container">


    <div class="panel panel-primary">
        <div class="panel-heading">
           <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp Ladok</h2>
        </div>
        </div>

    <div class="row">
        <div class="col-md-4">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h4><i class="fa fa-user"></i> Om dig</h4></h3>
                </div>
                <div class="panel-body">
                @views.html.student(student)
                </div>
            </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><h4><i class="fa fa-flag"></i> Senaste händelser</h4>
                        </h3>
                    </div>
                    <div class="panel-body">
                    @views.html.aktivitet(student)
                    </div>

                    <!--Panel footer för modal till "alla handelser" -->
                    <div class="panel-footer">
                            <!-- Button trigger modal -->
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>&nbsp<a href="#" data-toggle="modal" data-target="#myModalActivities">
                        <font color="#4682b4">Alla händelser</font></a>


                            <!-- Modal -->
                        <div class="modal fade" id="myModalActivities" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Alla h&aumlndelser</h4>
                                    </div>
                                    <div class="modal-body">


                                        <table class="table table-striped">


                                            <tr class="info">
                                                <th>Datum</th>
                                                <th>Aktivitet</th>
                                            </tr>


                                            @for(a <- student.getAllActivities().toList.sortBy(h => -h.id).toList) {
                                                <tr>
                                                    <td>@a.date</td>
                                                    <td>@a.text</td>
                                                </tr>

                                            }
                                        </table>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div><!--Slut panel footer-->

                </div>
        </div>


        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h3><i class="fa fa-pencil-square-o"></i> Dina studier</h3></h3>
                </div>
                <div class="panel-body">
                @views.html.studier(student)
                </div>
            </div>
        </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@routes.Application.logout()" role="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logga ut</a>
        </div>
    </div>

    </div>
    </div>
}
