@(message: String)(student: Student) <!-- Ta in ett argument med "Student" här. Så kan vi använda all info berörande en viss student i alla views. Bara att skicka in objektet i viewsen nedan.  -->

@main("Ladok 2.0") {

    <!-- Saknar container runt denna row. Får kolla på det -->
    <!-- Alla delar är uppdelade i egna views. -->
    <!-- Bootstrap och annat importeras i main.scala.html -->
    <!-- Importera det som behövs där. -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
<br>
            <div class="container">


    <div class="panel panel-primary">
        <div class="panel-heading">
           <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp Ladok</h2>
        </div>
        </div>

    <div class="row">
        <div class="col-md-4">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h4><i class="fa fa-user"></i> Om dig</h4></h3>
                </div>
                <div class="panel-body">
                @views.html.student(student)
                </div>
            </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><h4><i class="fa fa-flag"></i> Händelser <span class="badge">3</span></a></h4>
                        </h3>
                    </div>
                    <div class="panel-body">
                    @views.html.aktivitet(student)
                    </div>
                </div>
        </div>


        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><h3><i class="fa fa-pencil-square-o"></i> Dina studier</h3></h3>
                </div>
                <div class="panel-body">
                @views.html.studier(student)
                </div>
            </div>
        </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@routes.Application.logout()" role="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logga ut</a>
        </div>
    </div>

    </div>
    </div>
}
