@(response: String)

@main("Ladok 2.0 - Login") {

    <div class="container">

        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp Ladok</h2>
            </div>
        </div>



    <form action="@routes.Application.login()" method="POST" class="form" role="form">
    <h2>Logga in</h2>



<legend></legend>


        <div class="form-group">
            <label>Användarnamn</label>
            <input required type="text" class="form-control" name="username" placeholder="Användarnamn">
        </div>
        <div class="form-group">
            <label>Lösenord</label>
            <input required type="password" class="form-control" name="password" placeholder="Lösenord">
        </div>

        <button type="submit" class="btn btn-success">Logga in</button>
    </form>
   <!-- @response-->
        <br>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="@routes.Application.logout()">Logga ut</a>
            </div>

        </div>

    </div>
<br>


}

