<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ladok 2.0 - Readme</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            <!-- Bootstrap stuff -->
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

            <!-- Font Awesome (För snygga ikoner) -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    <body>
        <br>
<div class="container">
        <div class="jumbotron">

<h2>Välkommen till prototypen för Ladok 2.0!<Small> - Readme</Small></h2>
<legend></legend>
<h4>För att logga in</h4>

För att logga in i prototypen finns 5 st testkonton:<br><br>

            <table class="table table-striped">

    <tr>
        <th><b>Användarnamn&nbsp&nbsp&nbsp&nbsp</b></th>
        <th><b>Lösenord</b></th>
    </tr>

    <tr>
        <td>student1</td>
        <td>student1</td>
    </tr>

    <tr>
        <td>student2</td>
        <td>student2</td>
    </tr>

    <tr>
        <td>student3</td>
        <td>student3</td>
    </tr>

    <tr>
        <td>student4</td>
        <td>student4</td>
    </tr>

    <tr>
        <td>student5</td>
        <td>student5</td>
    </tr>

</table>

<h4>Gå till <a href="http://ladok.herokuapp.com">http://ladok.herokuapp.com</a> för att logga in<br><br></h4>

    När du loggat in, tryck gärna på <b>"Ändra inställningar"</b> och byt till din mejladress. På detta sätt kan du testa att systemet skickar bekräftelsemejl till dig när du utför olika aktiviteter i systemet.<b>
OBS! Glöm inte att ändra "notifiera via mejl" till "ja".</b><br><br>

_______________________________________
<h4>Skapa eget konto*</h4>

 Om du vill kan du skapa ett eget konto och testa med. Tryck då på knappen "Skapa studentkonto" som finns till höger om knappen "logga in" på inloggningssidan.
         <br><br>   <i>*Observera att denna funktion endast finns för att kunna testa systemet. Normalt sett sker registrering av studentkonton hos studieadministrationen. </i>

        </div>
            </div>

    </body>
    </html>