<h1>Välkommen till prototypen för Ladok 2.0!</h1>

<h2>För att logga in</h2>

För att logga in på prototypen finns 5 st testkonton:<br><br>

<table>

    <tr>
        <th><b>Användarnamn</b></th>
        <th><b>Lösenord</b></th>
    </tr>

    <tr>
        <td>student1</td>
        <td>student1</td>
    </tr>

    <tr>
        <td>student2</td>
        <td>student2</td>
    </tr>

    <tr>
        <td>student2</td>
        <td>student2</td>
    </tr>

    <tr>
        <td>student3</td>
        <td>student3</td>
    </tr>

    <tr>
        <td>student4</td>
        <td>student4</td>
    </tr>

    <tr>
        <td>student5</td>
        <td>student5</td>
    </tr>

</table>

<br><br>
Gå till <a href="http://ladok.herokuapp.com">http://ladok.herokuapp.com</a> för att logga in<br><br>

    När du loggat in så prova gärna att trycka på <b>"Ändra inställningar"</b> och byt till din mejladress. På detta sätt kan du testa att systemet skickar bekräftelsemejl till dig när du utför olika aktiviteter i systemet.
<br><br>
    _____________________________________________________________
<h2>Skapa eget konto</h2>

    Om du vill kan du skapa ett eget konto och testa med. Gå då till <a href="http://ladok.herokuapp.com/admin/student"> http://ladok.herokuapp.com/admin/student</a> och skapa ditt konto.