@(student: Student)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <b>Program:</b> Systemvetenskap
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">20% Complete</span>60% avklarat
            </div>
        </div>

        <b>P&aringg&aringende kurs:</b> Interaktionsdesign
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                <span class="sr-only">40% Complete (success)</span>50 % avklarat
            </div>
        </div>
        <b>P&aringg&aringende kurs:</b> F&oumlretagsekonomi
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">40% Complete (success)</span>80% avklarat
            </div>
        </div>

            <!-- Expanderande element -->
            <!--ELEMENT 1-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Kurser & registreringar
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">

                        <h3>P&aringg&aringende kurser</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Ben&aumlmning</th>
                                <th>Slutdatum</th>

                            </tr>

                            <tr class="info">
                                <td>Interaktionsdesign
                                </td>
                                <td>2015-06-04</td>
                            </tr>

                            <tr class="info">
                                <td>F&oumlretagsekonomi</td>
                                <td>2015-06-04</td>
                            </tr>

                        </table>

                        <legend></legend>

                        <h3>&Oumlppna f&oumlr registrering</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Ben&aumlmning</th>
                                <th>Startdatum</th>


                            </tr>

                            <tr class="warning">
                                <td>Sommarlov &nbsp&nbsp<a href="" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Registrera</a> </td>
                                <td>2015-06-05</td>
                            </tr>


                        </table>

                        <legend></legend>

                        <h3>Slutf&oumlrda kurser</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Ben&aumlmning</th>

                            </tr>

                            <tr class="success">

                                <td> Aff&aumlrssystem och Organisationer &nbsp&nbsp
                                    <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Mer info
                                    </button>

                                    <div class="collapse" id="collapseExample">
                                        <br>
                                        <div class="well">
                                            Betyg: VG<br>
                                            Startdatum: xxx<br>
                                            Slutdatum: ddx<br>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>



                <!--ELEMENT 3-->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Tentamen </a>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <h3>Tentamen &oumlppen f&oumlr anm&aumllan </h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Kurs</th>
                                <th></th>

                            </tr>

                            <tr>
                                <td>Interaktionsdesign</td>
                                <td> <a href="" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Anm&aumll</a></td>
                            </tr>
                        </table>


                        <h3>Nyinkommet resultat  <span class="badge">1</span></h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Kurs</th>
                                <th>Betyg</th>

                            </tr>

                            <tr>
                                <td>Beslutst&oumldsystem</td>
                                <td>VG</td>
                            </tr>
                        </table>

                        <h3>Tidigare tentamen</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Kurs</th>
                                <th>Betyg</th>

                            </tr>

                            <tr>
                                <td>Programmeringsteknik & databaser</td>
                                <td>VG</td>
                            </tr>

                            <tr>
                                <td>Systemutvecklingsprojekt</td>
                                <td>VG</td>
                            </tr>

                            <tr>
                                <td>Aff&aoumlrssystem</td>
                                <td>VG</td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Intyg, examen & studieavbrott</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">

                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModalOne">
                            Studieintyg
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOne" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabelOne">Skapa studieintyg</h4>
                                    </div>
                                    <div class="modal-body">

                                        Vilket intyg villl du skapa?

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                        <button type="button" class="btn btn-primary">Skapa intyg</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModalTwo">
                            Examensans&oumlkan
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Examensans&oumlkan</h4>
                                    </div>
                                    <div class="modal-body">

                                        Ans&oumlk om examen - vilka kurser vill du inkludera?

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                        <button type="button" class="btn btn-primary">Spara</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModalThree">
                            Avbryt studier
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalThree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Avsluta studier</h4>
                                    </div>
                                    <div class="modal-body">

                                        Vad vill du avsluta?

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                        <button type="button" class="btn btn-primary">Spara</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                            <!--
                    <button type="button" class="btn btn-primary btn-lg btn-block">Examensans&oumlkan</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Avsluta studier</button>
-->

                    </div>
                </div>
            </div>


        </div>
        </div>

    </body>