@(student: Student)

<table class="table table-striped">

    <tr>
        <td><b>Namn</b></td>
        <td>@student.firstName</td>
    </tr>

    <tr>
        <td><b>Mejl</b></td>
        <td>@student.email</td>
    </tr>

    <tr>
        <td><b>Avisering</b></td>
        <td>SMS</td>
    </tr>

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn btn-block" data-toggle="modal" data-target="#myModal">
    Ändra inställningar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ändra dina inställningar</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">

                    <form action="@routes.Application.changeStudentInformation()" method="POST" class="form" role="form">

                        <div class="form-group">

                            <tr>
                                <td><b>Namn</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="firstName" id="studentinformation" placeholder="Input field" value="@student.firstName @student.surname" disabled="">
                                </td>
                            </tr>

                            <tr>
                                <td><b>Personnummer</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="ssn" id="studentinformation" placeholder="Input field" value="@student.ssn" disabled="">
                                </td>
                            </tr>

                            <tr>
                                <td><b>Mejladress</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="email" id="email" placeholder="Input field" value="@student.email"></td>
                            </tr>

                            <tr>
                                <td><b>Postdress</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="streetAdress" id="streetAdress" placeholder="Input field" value="@student.streetAdress"></td>
                            </tr>

                            <tr>
                                <td><b>C/o</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="co" id="co" placeholder="Fyll i" value="@student.co"></td>
                            </tr>

                            <tr>
                                <td><b>Postnummer</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="zipcode" id="zipcode" placeholder="Input field" value="@student.zipcode"></td>
                            </tr>

                            <tr>
                                <td><b>Postadress</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="city" id="city" placeholder="Input field" value="@student.city"></td>
                            </tr>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                <button type="submit" class="btn btn-primary">Spara</button>
                </form>
            </div>
        </div>
    </div>
</div>

