@(student: Student)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>




        <b>Program:</b> Systemvetenskap
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
                <span class="sr-only">20% Complete</span>66% avklarat
            </div>
        </div>

        <b>P&aringg&aringende kurs:</b> Interaktionsdesign
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only">70% Complete (success)</span>90 % avklarat
            </div>
        </div>




            <!--ELEMENT 1, KURSER OCH REGISTRERINGAR !!!!!!!!!!!!!!!!!-->

            <!--!!!!!!!!!!!!! DU AR REGISTRERAD PA 1 !!!!!!!!!!!!!!!!!! -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Kurser & registreringar
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">

                        <h4>Kurser du &aumlr registrerad p&aring</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Kursnamn</th>
                                <th>Status</th>

                            </tr>

                            @for(program <- student.programs){
                                @for(course <- program.coursesRegistered()) {


                                    <tr class="info">
                                        <td>
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            <a data-toggle="collapse" href="#@course.startDate" aria-expanded="false" aria-controls="collapseExample">
                                                <font color="black">@course.name</font>
                                            </a>

                                            <div class="collapse" id="@course.startDate">
                                                <br>
                                                <div class="well-default">

                                                    <b>Startdatum:</b><br>@course.startDate<br>
                                                    <b>Slutdatum:</b><br>@course.endDate<br><br>
                                                    <b>Betyg</b><br>
                                                    @for(examination <- course.examinationsRegistered()){
                                                        @examination.name
                                                    }
                                                    <br>
                                                    @for(assignment <- course.assignments) {
                                                        @assignment.name
                                                    }


                                                    <form action="@routes.Application.deregisterForCourse()" method="POST" class="form" role="form">
                                                        <input type="hidden" name="id" value="@course.id"></input>

                                                        <br>
                                                        <button type="submit" id="myButton" data-loading-text="Sparar..." class="btn btn-danger btn-xs" autocomplete="off">
                                                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Avregistrera</button>

                                                            <!--<a href="" type="submit" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            &nbsp Anm&aumll</a href=""></td>-->
                                                    </form>




                                                </div>
                                            </div>
                                        </td>
                                        <td>P&aringg&aringr</td>
                                    </tr>
                                }
                            }
                            </table>

                        <legend></legend>


                            <!--!!!!!!!!!!!!! DU KAN REGISTRERA DIG TILL !!!!!!!!!!!!!!! -->
                        <h4>Kurser du kan registrera dig till</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Ben&aumlmning</th>
                                <th>Startdatum</th>


                            </tr>
                            @for(program <- student.programs){
                                @for(course <- program.coursesCanRegister()) {

                                    <tr class="warning">

                                        <td>
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            <a data-toggle="collapse" href="#@course.startDate" aria-expanded="false" aria-controls="collapseExample">
                                                <font color="black">@course.name</font>
                                            </a>

                                            <div class="collapse" id="@course.startDate">
                                                <br>
                                                <div class="well-default">
                                                    <form action="@routes.Application.registerForCourse()" method="POST" class="form" role="form">
                                                        <input type="hidden" name="id" value="@course.id"></input>

                                                        <button type="submit" id="myButton" data-loading-text="Sparar..." class="btn btn-success btn-xs" autocomplete="off">
                                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Registrera</button>

                                                            <!--<a href="" type="submit" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            &nbsp Anm&aumll</a href=""></td>-->
                                                    </form>

                                                </div>
                                            </div>
                                        </td>

                                        <td>@course.startDate</td>
                                    </tr>

                                }
                            }

                            @for(program <- student.programs) {
                                @for(course <- program.coursesCanRegister()) {
                                    @if(program.coursesCanRegister().size == 0){
                                        Inga kurser.
                                    }

                                }
                            }

                        </table>

                        <legend></legend>


                            <!--!!!!!!!!!! DU AR KLAR MED !!!!!!!!!!!!!!-->
                        <h4>Kurser du &aumlr klar med</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Kursnamn</th>
                                <th>Betyg</th>


                            </tr>

                            @for(program <- student.programs){
                                @for(course <- program.coursesCompleted()) {
                                    <tr class="success">
                                        <td>
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            <a data-toggle="collapse" href="#collapseExampleTwo" aria-expanded="false" aria-controls="collapseExample">
                                                <font color="black">@course.name</font>
                                            </a>

                                            <div class="collapse" id="collapseExampleTwo">
                                                <br>
                                                <div class="well-default">
                                                    <b>Startdatum:</b><br> @course.startDate<br>
                                                    <b>Slutdatum:</b><br> @course.endDate<br><br>
                                                    <b>Betyg</b><br>
                                                    @for(examinationCompleted <- course.examinationsCompleted()){
                                                        @examinationCompleted.name |<b> @examinationCompleted.grade</b> <br>
                                                    }
                                                    @for(assignmentCompleted <- course.assignments) {
                                                        @assignmentCompleted.name |<b> @assignmentCompleted.grade</b> <br>
                                                    }

                                                </div>
                                            </div>
                                        </td>

                                        <td>@course.grade</td>
                                    </tr>
                                }
                            }
                        </table>

                    </div>
                </div>
            </div>


                <!-- ##########################################################################################################-->

                <!--ELEMENT 2, TENTAMEN-->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Tentamen</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">

                        <h4>Tentamen du &aumlr anm&aumlld till</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Namn</th>
                                <th>Datum & tid</th>

                            </tr>

                            @for(program <- student.programs) {
                                @for(course <- program.coursesRegistered()) {
                                    @for(examination <- course.examinationsRegistered()){
                                        <tr class="info">
                                            <td>
                                                <a data-toggle="collapse" href="#@examination.id" aria-expanded="false" aria-controls="collapseExample">
                                                    <font color="black"> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> @examination.name</font>
                                                </a>

                                                <div class="collapse" id="@examination.id">
                                                    <br>
                                                    <div class="well-default">
                                                        Lokal ansl&arings i hus Saga klockan 8.00

                                                            <form action="@routes.Application.deregisterForExamination()" method="POST" class="form" role="form">
                                                                <input type="hidden" name="id" value="@examination.id"></input>
                                                                <br>

                                                                <button type="submit" id="myButton" data-loading-text="Sparar..." class="btn btn-danger btn-xs" autocomplete="off">
                                                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Avanm&aumll</button>
                                                                    <!--<a href="" type="submit" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            &nbsp Anm&aumll</a href=""></td>-->
                                                            </form>


                                                    </div>
                                                </div>
                                            </td>

                                            <td>@examination.examinationDate kl @examination.timeStart</td>
                                        </tr>

                                    }
                                }
                            }

                        </table>





                        </table>


                        <legend></legend>

                            <!-- DU KAN ANMALA DIG TILL -->

                        <h4>Tentamen du kan anm&aumlla dig till</h4>

                        <table class="table table-striped">
                            <tr>
                                <th>Namn</th>
                                <th></th>

                            </tr>

                            @for(program <- student.programs) {
                                @*
                                @for(course <- program.coursesCanRegister()) {
                                @for(examination <- course.examinationsCanRegister())   {
                                <tr class="warning">
                                <td>@examination.name</td>
                                <td>
                                <form action="@routes.Application.registerForExamination()" method="POST" class="form" role="form">
                                <input type="hidden" name="id" value="@examination.id"></input>

                                <button type="submit"  id="myButton" data-loading-text="Sparar..." class="btn btn-primary" autocomplete="off">Spara</button>

                                <!--<a href="" type="submit" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                &nbsp Anm&aumll</a href=""></td>-->
                                </form>
                                </tr>
                                }


                                }
                                *@
                                @if(program.coursesRegistered().size > 0){
                                @for(course <- program.coursesRegistered()) {

                                        @for(examination <- course.examinationsCanRegister())   {
                                            <tr class="warning">
                                                <td>@examination.name</td>
                                                <td>
                                                    <form action="@routes.Application.registerForExamination()" method="POST" class="form" role="form">
                                                        <input type="hidden" name="id" value="@examination.id"></input>

                                                        <button type="submit" id="myButton" data-loading-text="Sparar..." class="btn btn-success btn-xs" autocomplete="off">
                                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Anm&aumll</button>

                                                            <!--<a href="" type="submit" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            &nbsp Anm&aumll</a href=""></td>-->
                                                    </form>
                                            </tr>
                                        }
                                    }
                                }
                            }

                        </table>

                        <legend></legend>


                            <!--AVKLARADE TENTOR-->
                        <h4>Genomf&oumlrda tentamen</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Namn</th>
                                <th>Betyg</th>


                            </tr>

                            @for(program <- student.programs){
                                @for(course <- program.coursesCompleted()) {
                                    @for(examination <- course.examinationsCompleted()) {
                                        <tr class="success">
                                            <td>
                                                <a data-toggle="collapse" href="#collapseExampleTenta" aria-expanded="false" aria-controls="collapseExample">
                                                    <font color="black"> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> @examination.name</font>
                                                </a>

                                                <div class="collapse" id="collapseExampleTenta">
                                                    <br>
                                                    <div class="well-default">
                                                        <a href="/ejrealiserad" target="_blank" role="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                                            &nbsp H&aumlmta tentan</a>

                                                    </div>
                                                </div>
                                            </td>

                                            <td>@examination.grade</td>
                                        </tr>
                                    }

                                }
                            }
                        </table>

                    </div>
                </div>
            </div>

                <!-- ##########################################################################################################-->

                <!-- !!!!!!!! ELEMENT 3, Intyg, examen och studieavbrott !!!!!!!!!!!!!!!!!!-->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Intyg, examen & studieavbrott</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">

                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModalOne">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Studieintyg
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalOne" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOne" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabelOne">Skapa studieintyg</h4>
                                    </div>
                                    <div class="modal-body">

                                        Vilket intyg villl du skapa?

                                        <legend></legend>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                    Resultatintyg
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    Registreringsintyg
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                                    Nationellt intyg
                                                </label>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                        <a href="/ejrealiserad" target="_blank" role="button" class="btn btn-primary">Skapa intyg</a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModalTwo">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Examensans&oumlkan
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Examensans&oumlkan</h4>
                                    </div>
                                    <div class="modal-body">

                                        Ans&oumlk om examen - vilka kurser vill du inkludera?
                                        <legend></legend>

                                            @for(program <- student.programs){
                                                @for(course <- program.coursesCompleted()) {
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            @course.name @course.points hp
                                                        </label>
                                                    </div>
                                                }
                                                }

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">St&aumlng</button>
                                        <a href="/ejrealiserad" target="_blank" role="button" class="btn btn-primary">Skicka examensans&oumlkan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModalThree">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Avbryt studier
                        </button>

                            <!-- Modal -->
                        <div class="modal fade" id="myModalThree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Avsluta studier</h4>
                                    </div>
                                    <div class="modal-body">
                                        &Aumlr du s&aumlker p&aring att du vill avsluta dina studier? Du kommer avregistreras fr&aringn programmet Systemvetenskap samt de aktuella kurser du just nu l&aumlser och som &aumlr
                                        knutna till programmet.<br><br>


                                            <div class="alert alert-warning" role="alert">
                                                Studieadministrationen kommer kontakta dig p&aring din mejladress <b>@student.email</b> f&oumlr att bekr&aumlfta att du vill avbryta dina studier.
                                                    Observera att eventuellt st&oumld fr&aringn CSN kan komma att p&aringverkas.
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                                    Ja jag &aumlr s&aumlker!
                                                </label>
                                            </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">St&aumlng</button>
                                        <a href="/ejrealiserad" target="_blank" role="button" class="btn btn-danger">Skicka!</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                            <!--
                    <button type="button" class="btn btn-primary btn-lg btn-block">Examensans&oumlkan</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Avsluta studier</button>
-->

                    </div>
                </div>
            </div>


        </div>
        </div>

    </body>