@(student: Student)


<table class="table table-striped">


    <tr>
        <td><b>Namn</b></td>
        <td>@student.firstName</td>
    </tr>

    <tr>
        <td><b>Mejladress</b></td>
        <td>@student.email</td>
    </tr>

    <tr>
        <td><b>Gatuadress</b></td>
        <td>@student.streetAdress</td>
    </tr>

    <tr>
        <td><b>Postadress</b></td>
        <td>@student.zipcode @student.city</td>
    </tr>

</table>


<!-- Expanderande element -->
<!--ELEMENT 1-->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Handlingar</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">

                <button type="button" class="btn btn-success btn-lg btn-block">Studieintyg</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Examensansökan</button>
                <button type="button" class="btn btn-danger btn-lg btn-block">Avsluta studier</button>


            </div>
        </div>
    </div>


</div>