@(student: Student)

<table class="table table-striped">

    <tr>
        <td><b>Namn</b></td>
        <td>@student.firstName @student.surname</td>
    </tr>

    <tr>
        <td><b>Mejl</b></td>
        <td>@student.email</td>
    </tr>

    <tr>
        <td><b>Mejlnotis</b></td>
        <td>
        @if(student.notifyByEmail){
            Ja
        } else {
            Nej
        }
        </td>
    </tr>

</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn btn-block" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> &nbspÄndra uppgifter & inställningar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Ändra uppgifter & inställningar</h3>
            </div>
            <div class="modal-body">
                <table class="table table-striped">

                    <form action="@routes.Application.changeStudentInformation()" method="POST" class="form" role="form">

                        <div class="form-group">

                            <tr>
                                <td><b>Förnamn</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="firstName" id="studentinformation" placeholder="Input field" value="@student.firstName" disabled="">
                                </td>
                            </tr>

                            <tr>
                                <td><b>Efternamn</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="surname" id="surname" placeholder="Input field" value="@student.surname" disabled="">
                                </td>
                            </tr>

                            <tr>
                                <td><b>Personnummer</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="ssn" id="studentinformation" placeholder="Input field" value="@student.ssn" disabled="">
                                </td>
                            </tr>

                            <tr>
                                <td><b>Mejladress</b></td>
                                <td><input type="email" class="form-control" class="inputs" name="email" id="email" placeholder="Input field" value="@student.email"></td>
                            </tr>

                            <tr>
                                <td><b>Gatuadress</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="streetAdress" id="streetAdress" placeholder="Input field" value="@student.streetAdress"></td>
                            </tr>

                            <tr>
                                <td><b>C/o</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="co" id="co" placeholder="Fyll i" value="@student.co"></td>
                            </tr>

                            <tr>
                                <td><b>Postnummer</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="zipcode" id="zipcode" placeholder="Input field" value="@student.zipcode"></td>
                            </tr>

                            <tr>
                                <td><b>Postadress</b></td>
                                <td><input type="text" class="form-control" class="inputs" name="city" id="city" placeholder="Input field" value="@student.city"></td>
                            </tr>
                            <tr>
                                <td><b>Notifiera via mejl</b></td>
                                <td>
                                    <select name ="notifyByEmail" id="input" class="form-control">
                                    @if(student.notifyByEmail){
                                        <option value="true" selected>Ja</option>
                                        <option value="false">Nej</option>
                                    } else {
                                        <option value="true">Ja</option>
                                        <option value="false" selected>Nej</option>
                                    }

                                    </select>
                                </td>
                            </tr>


                </table>
                <div class="alert alert-warning" role="alert">
                    Kontakta studieadministrationen för ändring av namn och/eller personnummer
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                <button type="submit"  id="myButton" data-loading-text="Sparar..." class="btn btn-primary" autocomplete="off">Spara</button>
                </form>






            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){

$('#myButton').on('click', function () {
$("#myButton").html('Sparar...');
})

});
</script>
